html {
  background: linear-gradient(
    to bottom right,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  background-size: cover;
}
button,
input,
select,
.todo-container {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 3px 5px 5px #666666;
  -moz-box-shadow: 3px 5px 5px #666666;
  box-shadow: 3px 5px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  background: transparent;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 4px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  box-sizing: border-box;
}
#search {
  position: fixed;
  right: 15px;
  width: 50px;
  height: 50px;
  padding: 0 0 0 13px;
  border-radius: 50%;
}
#tourGuide {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  background-color: rgba(107, 139, 180, 0.88);
  position: absolute;
  z-index: +5;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
}
.spot {
  -webkit-box-shadow: 0px 0px 50px 50px #ffffff;
  box-shadow: 0px 0px 50px 50px #ffffff;
  box-sizing: border-box;
}
#search:focus {
  border-radius: 0%;
  width: 300px;
  cursor: text;
  transform: scale(1);
}
#save {
  position: fixed;
  left: 15px;
  top: 15px;
}
#undo {
  position: fixed;
  left: 140px;
  top: 15px;
}
#redo {
  position: fixed;
  left: 255px;
  top: 15px;
}
button:disabled {
  color: gray;
  border-color: gray;
}
button:disabled:hover {
  transform: scale(1);
  cursor: default;
}
select option[value="1"] {
  background: #85c1e9;
}
select option[value="2"] {
  background: #5dade2;
}
select option[value="3"] {
  background: #3498db;
}
select option[value="4"] {
  background: #2e86c1;
}
select option[value="5"] {
  background: #2874a6;
}

input[type="text"] {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.28);
}
h1 {
  color: #ffffff;
  font-size: 50px;
}
.todo-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
}
.todo-isDone {
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: red;
}
button:hover,
.fa:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.fa {
  margin-left: 20%;
  font-size: 30px;
}
.grid-headline {
  font-size: 30px;
}
#text-input {
  width: 45%;
}

#headline-container {
  border-width: 6px;
  margin-bottom: 50px;
}
.fa-bars:hover {
  cursor: grab;
}
.draggable {
  margin-bottom: 1rem;
  user-select: none;
}
.placeholder {
  background-color: #edf2f7;
  opacity: 0.2;
  border: 2px dashed #cbd5e0;
  margin-bottom: 1rem;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}
/* loader animation */
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
